#topNav {
  background: black;
  height: auto;
  text-align: center;
  margin: 0;
}
#topNav li {
  display: inline;
}
#topNav a {
  color: White;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px; 
  padding: 0px 15px;
  text-decoration: none;
  transition: color 0.3s ease-in;  
  font-family: 'IM Fell English', serif;
}
#topNav a:hover {
  color: DarkRed;
}

h1 {
  text-align: center;
}
body {
  backround-color: black;
  color: DarkRed
}
img{
  margin=auto;
}  
